name: Notify Reviewers on Push

on:
  push:
    branches:
      - frontend-final
      - backend-dev
      - master

jobs:
  notify:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout latest commit
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Get latest commit info
        id: commit
        run: |
          echo "msg=$(git log -1 --pretty=%s)" >> $GITHUB_OUTPUT
          echo "author=$(git log -1 --pretty=%an)" >> $GITHUB_OUTPUT
          echo "sha=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
          echo "date=$(git log -1 --pretty=%ad --date=local)" >> $GITHUB_OUTPUT

      - name: Send email to reviewers
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: "Push Notification: Branch Update"
          to: srikanthpusunuri1165@gmail.com, srikanthp2425@gmail.com
          from: "GitHub Actions <${{ secrets.EMAIL_USERNAME }}>"

          body: |
            Hello Reviewer,

            A push was made to branch: **${{ github.ref_name }}**

            **Commit Message:** ${{ steps.commit.outputs.msg }}
            **Author:** ${{ steps.commit.outputs.author }}
            **Commit Link:** https://github.com/${{ github.repository }}/commit/${{ steps.commit.outputs.sha }}
            **Pushed Time:** ${{ steps.commit.outputs.date }}
